button.btn--default((click)='modalService.open()') Add Sprint

modal(title='New Sprint' '(onClose)'='reset()' '(onOpen)'='teams.findAll()')
  .new-sprint
    error-display('[errors]'='sprints.errors | async')
    form.flex-form('(ngSubmit)'='createSprint()' '[ngFormModel]'='newSprintForm')
      .input-group
        label(for='boardId') Sprint Board ID
        input(
          type='text'
          ngControl='boardId'
          placeholder='Enter sprint Trello board id'
          required
        )

      .input-group
        label(for='holidays') Holidays
        input(
          type='text'
          ngControl='holidays'
          placeholder='Enter holiday dates sperated by ,'
        )

      .input-group
        label(for='team') Team
        select(ngControl='teamName' required)
          option(disabled value selected) Select a team
          option('*ngFor'='#team of teams.items | async') {{ team.name }}

      form-save.pull-right('(onCancel)'='close()')
