button.btn--default((click)='modalService.open()') Add Sprint

modal(title='New Sprint' '(onClose)'='reset()' '(onOpen)'='teams.findAll()')
  .new-sprint
    error-display('[errors]'='sprints.errors | async')
    form.flex-form('(ngSubmit)'='sprints.create(newSprint)' '[ngFormModel]'='newSprintForm')
      .input-group
        label(for='boardId') Sprint Board ID
        input(
          type='text'
          ngControl='boardId'
          '[(ngModel)]'='newSprint.boardId'
          placeholder='Enter sprint Trello board id'
          required
        )

      .input-group
        label(for='startDate') Start Date
        input(
          type='date'
          ngControl='startDate'
          '[(ngModel)]'='newSprint.startDate'
        )

      .input-group
        label(for='team') Team
        select(ngControl='teamName' '[(ngModel)]'='newSprint.teamId' required)
          option(disabled value selected) Select a team
          option('*ngFor'='#team of teams.items | async' '[ngValue]'='team.id') {{ team.name }}

      .form-save.pull-right
        button.btn--default('[disabled]'='sprints.isCreating | async') Create
        button.btn--cancel('(click)'='cancel()' type='button') Cancel
